{% requireLogin %}

{% extends "_layouts/_base" %}

{% if entry.parent %}
    {% set category = entry.parent.productCategory.one() %}
{% else %}
    {% set category = entry.productCategory.one() %}
{% endif %}


{% block content %}

    {% if entry.type != "productFullscreen" %}

        {% include "_layouts/_header" with {
            title: "Training - Centre",
            subTitle: category.title,
            subTitleWeight: 'medium'
        } %}
        
        <div class="o-main o-main--shadow">
            {% include "products/_types/" ~ entry.type %}
        </div>

        {% set footerSettings = {} %}
        {% if entry.type.handle != 'product' %}
            {% set footerSettings = {
                takeQuizHide: true
            } %}
        {% endif %}

        {% if currentUser.can('editUsers') %}
            {% set footerSettings = footerSettings|merge({
                manageUsersShow: true
            }) %}
        {% endif %}

        {% include "_layouts/_footer" with footerSettings %}

    {% else %}

        {% include "products/_types/" ~ entry.type %}
        
    {% endif %}


{% endblock %}