{% requireLogin %}

{% extends "_layouts/_base" %}

{% set products = craft.entries()
    .section('products')
    .productCategory(category)
    .all()
%}

{% block content %}

    {% include "_layouts/_header" with {
        title: "Training - Centre",
        subTitle: category.title,
        subTitleWeight: 'medium'
    } %}

    <div class="o-main o-main--wide o-main--shadow">

        <div class="c-product-list">

        {% for product in products %}
            {% set productImage = product.productImage.one() %}

            <div class="c-product-list__item">
            
                <div class="c-product-list__meta">

                    {% if productImage %}
                    <div class="c-product-list__image">
                        {{ productImage.getImg() }}

                    </div>
                    {% endif %}
                    
                    <div class="c-product-list__data">
                        <a class="c-product-list__info" href="#"></a>
                        <a class="c-product-list__download" href="#"></a>
                    </div>

                </div>
                
                <div class="c-product-list__title">
                    <h2>
                        <a class="c-product-list__link" href="{{ product.url }}">
                            <span class="c-product-list__status{% if product.slug == 'spot-system' and currentUser.testPass %} c-product-list__status--passed{% else %} c-product-list__status--failed{% endif %}"></span>
                            {{ product.title }}
                        </a>
                    </h2>
                </div>
                
                <div class="c-product-list__brand">
                    <h3 class="h2">{{ product.productBrand }}</h3>
                </div>
                
            </div>
            
        {% endfor %}

        </div>

    </div>

    {% include "_layouts/_footer" with {} %}

{% endblock %}