{% requireLogin %}

{% extends "_layouts/_base" %}

{% set products = craft.entries()
    .section('products')
    .productCategory(category)
    .all()
%}

{% block content %}

    {% include "_layouts/_header" with {
        title: "Training - Centre",
        subTitle: category.title,
        subTitleWeight: 'medium'
    } %}

    <div class="o-main">

        <div class="c-product-list">
        {% for product in products %}
            
            {# Gets the first image / refs the field name #}
            {% set productImage = product.productImage.one() %}

            <div class="c-product-list__item">
            
                <div class="c-product-list__image">
                    {% if productImage %}
                        {# getImg creates the image tag #}
                        {{ productImage.getImg() }}
                    {% endif %}
                </div>
                
                <h2 class="c-product-list__title">
                    <a class="c-product-list__link" href="{{ product.url }}">{{ product.title }}</a>
                </h2>
                
                <div class="c-product-list__brand">{{ product.productBrand }}</div>
                
            </div>
        {% endfor %}
        </div>

    </div>

    {% include "_layouts/_footer" with {} %}

{% endblock %}