{# {% set productImage = entry.productImage.one() %} #}
{% set productVideo = entry.productVideo.one() %}
{% set videoSections = entry.videoSections.all() %}

<h1>{{ entry.title }} - {{ entry.productBrand }}</h1>

<div>
    <video src="/assets/videos/spot.mp4"></video>

    {% if videoSections %}
    <div>
        {% for section in videoSections %}
            {{ section.sectionTitle }}
            {{ section.sectionTime }}
        {% endfor %}
    </div>
    {% endif %}
</div>