<!DOCTYPE html>
<html lang="{{ craft.app.language }}">

  {% include "_layouts/_head.twig" %}
  
  <body class="ltr">
    
    <header>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </header>
    
    {% block content %}
      {# Nothing here, yet! #}
    {% endblock %}

  </body>

</html>