<!DOCTYPE html>
<html lang="{{ craft.app.language }}">

  {% include "_layouts/_head" %}
  
  <body class="ltr{% if classAlternate is defined %} {{ classAlternate }}{% endif %}">

    {% include "parts/user" %}

    {% include "_layouts/_logo" %}
    
    <div class="o-container">
    {% block content %}
      {# Nothing here, yet! #}
    {% endblock %}
    </div>

  </body>

</html>