{% set trainingCenterHide = trainingCenterHide ?? false %}

<div class="o-footer">

{% if currentUser %}

    <a class="e-button js-modal" data-modal-type="logout" href="{{ logoutUrl }}">Logout</a>

    {% if trainingCenterHide != true %}
    <a class="e-button" href="/">Training centre</a>
    {% endif %}

    <input class="c-search" placeholder="Search" />

{% endif %}

</div>