<div class="o-header">

    {% if title is defined %}
    <h1>{{ title }}</h1>
    {% endif %}

    {% if subTitle is defined %}
    <h2 {% if subTitleWeight is defined %} class="fw-{{ subTitleWeight }}"{% endif %}>{{ subTitle }}</h2>
    {% endif %}

</div>