<div class="o-header">

    {% if metricsShow is defined %}
    <a class="e-button e-button--metrics">
        Metrics
    </a>
    {% endif %}

    {% if title is defined %}
    <h1>{{ title }}</h1>
    {% endif %}

    {% if subTitle is defined %}
    <h2 {% if subTitleWeight is defined %} class="fw-{{ subTitleWeight }}"{% endif %}>{{ subTitle }}</h2>
    {% endif %}

</div>