{% set metricsHide = metricsHide ?? false %}
{% set homeHide = homeHide ?? false %}

<div class="o-header">

    {% if metricsHide != true and currentUser.can('editUsers') %}
    <a class="e-button e-button--metrics js-metrics-open">
        Metrics
    </a>
    {% endif %}

    {% if homeHide != true and currentUser.can('editUsers') %}
    <a href="/trainer/overview" class="e-button e-button--home">
        Home
    </a>
    {% endif %}

    {% if title is defined %}
    <h1>{{ title }}</h1>
    {% endif %}

    {% if subTitle is defined %}
    <h2 {% if subTitleWeight is defined %} class="fw-{{ subTitleWeight }}"{% endif %}>{{ subTitle }}</h2>
    {% endif %}

</div>

{% if metricsHide != true and currentUser.can('editUsers') %}
    <div class="c-metrics js-metrics">

        <a href="#" class="c-metrics__close js-metrics-close">Close</a>

        <div class="c-metrics__section">
            <h3 class="h2 c-metrics__header">Operator filter</h3>
            <a class="c-metrics__link" href="/trainer/overview">Show out of date only</a>
            <a class="c-metrics__link" href="/trainer/overview">Show in date only</a>
            <a class="c-metrics__link" href="/trainer/overview">Show most out of date</a>
            <a class="c-metrics__link" href="/trainer/overview">Show most in date</a>
            <a class="c-metrics__link" href="/trainer/overview">Show top pass rate</a>
            <a class="c-metrics__link" href="/trainer/overview">Show low pass rate</a>
        </div>

        <div class="c-metrics__section">
            <h3 class="h2 c-metrics__header">Equipment filter</h3>
            <a class="c-metrics__link" href="/trainer/overview">Show out of date only</a>
            <a class="c-metrics__link" href="/trainer/overview">Show in date only</a>
            <a class="c-metrics__link" href="/trainer/overview">Show most out of date</a>
            <a class="c-metrics__link" href="/trainer/overview">Show most in date</a>
            <a class="c-metrics__link" href="/trainer/overview">Show top pass rate</a>
            <a class="c-metrics__link" href="/trainer/overview">Show low pass rate</a>
            <a class="c-metrics__link" href="/trainer/overview">Show feedback only</a>
        </div>

    </div>
{% endif %}