{% set metricsHide = metricsHide ?? false %}
{% set homeHide = homeHide ?? false %}

<div class="o-header">

    {% if metricsHide != true and currentUser.can('editUsers') %}
    <a class="e-button e-button--metrics">
        Metrics
    </a>
    {% endif %}

    {% if homeHide != true and currentUser.can('editUsers') %}
    <a href="/trainer/overview" class="e-button e-button--home">
        Home
    </a>
    {% endif %}

    {% if title is defined %}
    <h1>{{ title }}</h1>
    {% endif %}

    {% if subTitle is defined %}
    <h2 {% if subTitleWeight is defined %} class="fw-{{ subTitleWeight }}"{% endif %}>{{ subTitle }}</h2>
    {% endif %}

</div>