.c-categories {
    display: grid;
    @include fluid-size(column-gap, 40px, 60px);
    @include fluid-size(row-gap, 18px, 28px);
    grid-template-columns: repeat(3, 1fr);

    &__item {
        align-items: center;
        aspect-ratio: 1 / 1;
        box-shadow:
            -2px -2px 2px 0 rgba(87,115,129,0.29),
            2px 2px 5px 0px rgba(0,0,0,0.7);
        color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-decoration: none;

        // OFF FOR MVP
        pointer-events: none;
        
        &:active {
            box-shadow:
                inset 5px 5px 4px 0 rgba(0,0,0,0.45),
                inset -4px -4px 3px 0px rgba(87,115,129,0.35);

            .c-categories__icon {
                display: none;

                &--active {
                    display: block;
                }
            }
        }

        &:last-of-type {
            pointer-events: all;
        }
    }

    &__icon {
        @include fluid-size(height, 85px, 126px);
        @include fluid-size(margin-bottom, 16px, 20px);
        @include fluid-size(width, 99px, 148px);

        img {
            height: 100%;
            object-fit: contain;
            width: 100%;
        }

        &--active {
            display: none;
        }
    }

    &__title {
        font-weight: $font-medium;
    }

}