.c-product {

    @include fluid-size(padding-top, 24px, 36px);
    @include fluid-size(padding-left, 24px, 36px);
    @include fluid-size(padding-right, 24px, 36px);

    &__title {
        text-align: center;
        @include fluid-size(margin-bottom, 18px, 18epx);

        span {
            font-weight: $font-medium;
        }
    }

    &__video-player {
        width: 90%;
        margin: 0 auto;
    }
    
    &__video-view {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;

        &.videoActive {
            &:before {
                opacity: 0;
            }
        }

        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            pointer-events: none;
            width: 81px;
            height: 92px;
            background-image: url(@assets/img/icon-play-large.svg);
            transition: opacity 0.3s;
        }
    }

    &__video {
        width: 100%;
    }

    &__video-nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 0 30px 18px;
        background: linear-gradient(0deg, rgba(255,255,255,0.70) 0%, rgba(255,255,255,0) 100%);

        opacity: 0;
        transition: opacity 0.3s;

        &.navActive {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }
    
    &__chapters {
        display: flex;
        margin-bottom: 8px;
    }

    &__chapter {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $primary-color;
        opacity: 0.7;

        &.active {
            opacity: 1;
        }

        &:before {
            content: '';
            position: absolute;
            width: 4px;
            height: 10px;
            bottom: -18px;
            background-color: $color-white;
        }

        &:first-child {
            opacity: 0;
        }
    }

    &__section-num,
    &__section-title {
        text-transform: uppercase;
        transition: transform 0.3s;
        transform-origin: left;
        transform: scale(1);
    }
    
    &__section-num {
        font-weight: $font-medium;
        @include fluid-size(font-size, 8px, 8px);

        .active & {
            transform: scale(1.1);
        }
    }

    &__section-title {
        font-weight: $font-bold;
        @include fluid-size(font-size, 10px, 10px);

        .active & {
            transform: scale(1.1);
        }
    }

    &__progess {
        display: flex;
        width: 100%;
        height: 10px;
        border-radius: 0;
        
        &::-webkit-progress-bar {
            background-color: $secondary-color;
        }

        &::-webkit-progress-value {
            background-color: $color-black;
        }
    }

    // Video Controls
    &__video-controls {
        display: flex;
        align-items: center;
        padding: 14px 24px 0;
    }

    &__video-play,
    &__video-next,
    &__video-mute,
    &__video-fullscreen {
        display: flex;
        align-items: center;
        
        &:before {
            content: '';
            display: inline-block;
            cursor: pointer;
        }
    }

    &__video-play {
        margin-right: 20px;
        
        &:before {
            width: 15px;
            height: 17px;
            background-image: url(@assets/img/icon-play.svg);
        }
    }

    &__video-next {
        margin-right: 32px;

        &:before {
            width: 18px;
            height: 14px;
            background-image: url(@assets/img/icon-skip.svg);
        }
    }

    &__video-mute {
        margin-right: 4px;
        pointer-events: none;

        &:before {
            width: 21px;
            height: 18px;
            background-image: url(@assets/img/icon-speaker.svg);
        }
    }

    &__video-volume {
        
        &[type=range] {
            -webkit-appearance: none;
            appearance: none;
            width: 35px;
            padding: 10px 0;
            cursor: pointer;
        }

        &[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            background-color: $secondary-color;
        }

        &[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 8px;
            height: 8px;
            margin-top: -2px;
            border-radius: 100%;
            cursor: pointer;
            background-color: $secondary-color;
        }
    }

    &__video-controls-r {
        display: flex;
        margin-left: auto;
    }

    &__video-fullscreen {
        margin-right: 21px;
        
        &:before {
            width: 35px;
            height: 19px;
            background-image: url(@assets/img/icon-fullscreen.svg);
        }
    }

    &__video-download {
        background-image: url(@assets/img/icon-download.svg);
        display: block;
        height: 20px;
        pointer-events: none;
        width: 22px;
    }

    &__video-downloaded {
        background-image: url(@assets/img/icon-download-success.svg);
        display: block;
        height: 25px;
        width: 24px;
    }
}