@import '@modules/swiper/swiper.scss';

.c-quiz {
    display: flex;
    flex-direction: column;
    height: 100%;
    @include fluid-size(padding-left, 24px, 36px);
    @include fluid-size(padding-right, 24px, 36px);

    &__title {
        @include fluid-size(margin-bottom, 18px, 23px);
        text-align: center;
        
        span {
            background-color: $secondary-color;
            box-shadow: inset 0px 10px 8px rgba($color-black, 0.43);
            color: $primary-color;
            display: inline-block;
            font-weight: $font-bold;
            @include fluid-size(padding-bottom, 9px, 13px);
            @include fluid-size(padding-left, 25px, 37px);
            @include fluid-size(padding-right, 25px, 37px);
            @include fluid-size(padding-top, 9px, 13px);
        }

        &--fail {
            span {
                background-color: $color-fail;
            }
        }

        &--pass {
            span {
                background-color: $color-pass;
            }
        }
    }

    &__subtitle {
        @include fluid-size(margin-bottom, 14px, 18px);
        text-align: center;
    }

    &__progress {
        align-items: center;
        display: flex;
        @include fluid-size(margin-bottom, 28px, 34px);
    }

    &__fraction {
        @include fluid-size(font-size, 16px, 19px);
        font-weight: $font-semi-bold;
        @include fluid-size(line-height, 20px, 23px);
        @include fluid-size(min-width, 180px, 200px);
        text-transform: uppercase;
    }
    
    &__bar {
        @include fluid-size(column-gap, 4px, 6px);
        display: flex;
        flex-grow: 1;
        
        .swiper-pagination-bullet {
            background-color: #5D5D5D;
            display: block;
            @include fluid-size(height, 8px, 10px);
            width: 100%;
            
            &-active, &-active ~ * {
                background-color: #B5B5B5;
            }
        }
    }

    &__swiper {
        width: 100%;
    }

    &__item {
        @include fluid-size(column-gap, 20px, 30px);
        display: flex;
        width: 100%;
    }

    &__main {
        flex-grow: 1;
    }
    
    &__section {
        @include fluid-size(font-size, 15px, 17px);
        font-weight: $font-semi-bold;
        @include fluid-size(line-height, 12px, 14px);
        @include fluid-size(margin-bottom, 14px, 18px);
        text-transform: uppercase;
    }

    &__question {
        @include fluid-size(margin-bottom, 36px, 45px);
    }

    &__answers {
        display: flex;
        row-gap: 13px;
        flex-direction: column;
    }

    &__answer {
        input {
            display: none;
        }

        label {
            padding-left: 32px;
            position: relative;

            &:before,
            &:after {
                border-radius: 100%;
                content: '';
                position: absolute;

            }

            &:before {
                background-color: $color-white;
                height: 20px;
                left: 0;
                width: 20px;
            }

            &:after {
                background-color: $primary-color;
                height: 12px;
                left: 4px;
                opacity: 0;
                top: 4px;
                transition: 300ms;
                width: 12px;
            }
        }

        input:checked ~ label {
            &:after {
                opacity: 1;
            }
        }
    }

    &__image {
        @include fluid-size(max-width, 180px, 255px);
        @include fluid-size(min-width, 180px, 255px);

        img {
            display: block;
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }

    &__footer {
        align-items: flex-end;
        display: flex;
        @include fluid-size(column-gap, 20px, 24px);
        @include fluid-size(margin-bottom, 20px, 24px);
        margin-top: auto;
    }

    &__next,
    &__previous,
    &__submit {
        padding-left: 15px !important; // Sorry!

        i {
            background-image: url(@assets/img/icon-arrow-next.svg);
            height: 16px;
            margin-right: 16px;
            width: 21px;
        }
    }

    &__previous {
        i {
            transform: rotate(180deg);
        }
    }

    &__exit {
        margin-left: auto;

        i {
            background-image: url(@assets/img/icon-exit.svg);
            height: 23px;
            margin-right: 14px;
            width: 25px;
        }
    }

}