@import '@modules/swiper/swiper.scss';

.c-quiz {

    &__progress {
        display: flex;
    }

    &__bar {
        display: flex;
        @include fluid-size(column-gap, 4px, 8px);

        .swiper-pagination-bullet {
            background-color: #5D5D5D;
            display: block;
            @include fluid-size(height, 8px, 10px);
            @include fluid-size(width, 40px, 60px);

            &-active, &-active ~ * {
                background-color: #B5B5B5;
            }
        }
    }

}