.c-result {
    display: flex;
    flex-direction: column;
    height: 100%;
    @include fluid-size(padding-left, 24px, 36px);
    @include fluid-size(padding-right, 24px, 36px);
    position: relative;

    &__pass-text {
        @include fluid-size(margin-bottom, 18px, 22px);
        text-align: center;
    }

    &__image {
        display: block;
        height: 150px;
        margin: 0 auto 20px;
        text-align: center;

        img {
            display: inline-block;
            height: 100%;
            object-fit: contain;
            width: auto;
        }
    }

    &__score {
        @include fluid-size(font-size, 16px, 20px);
        font-weight: $font-bold;
        @include fluid-size(line-height, 22px, 26px);
        text-align: center;

        &--fail {
            color: $color-fail;
        }

        &--pass {
            color: $color-pass;
        }
    }

    &__reset {
        display: flex;
        @include fluid-size(column-gap, 50px, 65px);
        justify-content: center;
        @include fluid-size(margin-top, 42px, 58px);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        @include fluid-size(margin-bottom, 20px, 24px);
        margin-top: auto;
    }

    &__again {
        padding-left: 20px !important; // Sorry!

        i {
            background-image: url(@assets/img/icon-rewatch.svg);
            height: 26px;
            margin-right: 14px;
            width: 29px;
        }
    }

    &__retake {
        padding-left: 20px !important; // Sorry!

        i {
            background-image: url(@assets/img/icon-test.svg);
            height: 26px;
            margin-right: 14px;
            width: 24px;
        }
    }
    
    &__feedback {
        i {
            background-image: url(@assets/img/icon-comment.svg);
            height: 24px;
            margin-right: 14px;
            margin-top: 4px;
            width: 24px;
        }
    }
}