.c-trainer-overview {
    display: grid;
    column-gap: 10px;
    @include fluid-size(font-size, 14px, 15px);
    grid-template-columns: 1fr 4fr;
    height: 100%;
    @include fluid-size(line-height, 17px, 18px);
    text-transform: uppercase;

    &__categories {
        display: flex;
        column-gap: 10px;
        justify-content:space-between;
        @include fluid-size(margin-bottom, 15px, 18px);
        @include fluid-size(max-width, $main-width-wide, calc($main-width-wide + 400px), $font-lock-max, calc($font-lock-max + 400px));
        width: 100%;
    }

    &__button {
        @include fluid-size(font-size, 12px, 13px);
        font-weight: $font-light;
        @include fluid-size(height, 30px, 36px);
        @include fluid-size(line-height, 15px, 16px);
        @include fluid-size(padding-left, 15px, 16px);
        @include fluid-size(padding-right, 15px, 16px);

        &--active {
            box-shadow:
                inset -1px -1px 4px rgba($color-blue-light, 0.44),
                inset 4px 4px 4px rgba($color-black, 0.24);
            font-weight: $font-bold;
        }
    }

    &__users {
        box-shadow:
            inset 6px 6px 12px rgba($color-black, 0.25),
            inset -4px -4px 5px rgba($color-grey, 0.1);
        @include fluid-size(padding-bottom, 5px, 5px);
        @include fluid-size(padding-left, 12px, 12px);
        @include fluid-size(padding-right, 12px, 12px);
        @include fluid-size(padding-top, 5px, 5px);

        .c-trainer-overview__item {
            border-right: none;
            font-weight: $font-medium;
        }
    }

    &__products-wrap {
        box-shadow:
            inset 6px 6px 12px rgba($color-black, 0.25),
            inset -4px -4px 5px rgba($color-grey, 0.1);
        @include fluid-size(padding-bottom, 5px, 5px);
        @include fluid-size(padding-left, 12px, 12px);
        @include fluid-size(padding-right, 12px, 12px);
        @include fluid-size(padding-top, 5px, 5px);
        width: 100%;
    }

    &__products {
        display: flex;
        width: 100%;

        &:first-of-type {
            .c-trainer-overview__item {
                border-top: none;
            }
        }
    }

    &__product {
        column-gap: 8px;
        @include fluid-size(min-width, 180px, 230px);
        
        &-circle {
            background-color: $color-fail;
            border-radius: 100%;
            display: inline-block;
            height: 17px;
            width: 17px;
            
            &--pass {
                background-color: $color-pass;
            }
        }
        
        &-text {
            color: $secondary-color;
            text-decoration: none;
        }
    }

    &__item {
        align-items: center;
        border-right: 2px solid $color-grey-dark;
        border-top: 2px solid $color-grey-dark;
        display: flex;
        @include fluid-size(min-height, 40px, 44px);
        @include fluid-size(padding-bottom, 8px, 12px);
        @include fluid-size(padding-left, 12px, 15px);
        @include fluid-size(padding-right, 12px, 15px);
        @include fluid-size(padding-top, 8px, 12px);

        &:last-of-type {
            border-right: none;
        }
    }

    &__unset {
        background-color: $color-fail;
        border-radius: 6px;
        color: $primary-color;
        @include fluid-size(font-size, 14px, 14px);
        font-weight: $font-bold;
        @include fluid-size(line-height, 18px, 18px);
        @include fluid-size(margin-left, 10px, 10px);
        @include fluid-size(min-width, 24px, 24px);
        text-align: center;
    }

}