.e-button {
    align-items: center;
    color: $secondary-color;
    display: inline-flex;
    @include fluid-size(font-size, 16px, 18px);
    font-weight: $font-medium;
    @include fluid-size(line-height, 22px, 24px);
    text-transform: uppercase;
    text-decoration: none;

    i {
        background-size: contain;
        display: block;
    }

    &--small {
        @include fluid-size(font-size, 14px, 17px);
        font-weight: $font-semi-bold;
        @include fluid-size(line-height, 19px, 22px);
    }
    
    &--round {
        align-items: center;
        background-color: $primary-color;
        border-radius: 10px;
        box-shadow:
            -2px -2px 4px rgba($color-blue-light, 0.57),
            3px 3px 6px rgba($color-black, 0.43);
        color: $secondary-color;
        display: inline-flex;
        @include fluid-size(font-size, 15px, 15px);
        font-weight: $font-semi-bold;
        height: 41px;
        @include fluid-size(line-height, 19px, 19px);
        @include fluid-size(padding-left, 18px, 25px);
        @include fluid-size(padding-right, 18px, 25px);
    }
    
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &--hide {
        display: none;
    }

    &--back {
        background-image: url(@assets/img/icon-minimise.svg);
        background-size: contain;
        height: 52px;
        width: 60px;
        z-index: 3;
    }

    &--metrics {
        align-items: baseline;
        display: flex;
        @include fluid-size(font-size, 16px, 18px);
        @include fluid-size(line-height, 22px, 24px);
        @include fluid-size(left, 24px, 38px);
        position: absolute;

        &:before {
            background-image: url(@assets/img/icon-metrics.svg);
            background-size: contain;
            content: '';
            height: 22px;
            margin-right: 10px;
            position: relative;
            width: 22px;
        }
    }

    &--home {
        align-items: baseline;
        @include fluid-size(bottom, 12px, 12px);
        display: flex;
        @include fluid-size(font-size, 16px, 18px);
        @include fluid-size(line-height, 22px, 24px);
        @include fluid-size(left, 24px, 38px);
        position: absolute;

        &:before {
            background-image: url(@assets/img/icon-home.svg);
            background-size: contain;
            content: '';
            height: 22px;
            margin-right: 10px;
            position: relative;
            width: 22px;
        }
    }

}