// FONTS
$font-primary: 'Montserrat', Arial, sans-serif;

$font-lock-min:  751px !default; 
$font-lock-max: 1317px !default;

$font-light: 300;
$font-medium: 500;
$font-semi-bold: 600;

$site-width: 1317px;

// BREAKPOINTS
$break-mobile: 480px;
$break-tablet: 768px;
$break-desktop: 1024px;

// SIZES
$header-height: 130px;
$footer-height: 98px;
$main-width: 810px;

// COLOURS
$primary-color: #1E2326;
$secondary-color: #B5B5B5;

$color-pass: #25D429;
$color-fail: #D42524;