<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.grid" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TheGrid</name>
    <description>The Grid - Training App</description>
    <author email="info@almanac.digital" href="https://almanac.digital">
        Almanac Digital
    </author>
    <content src="index.html" />

    <allow-intent href="https://almanac.digital/*" />
    <access origin="https//*.almanac.digital" />

    <preference name="android-minSdkVersion" value="33"/>
    <preference name="android-targetSdkVersion" value="33"/>

    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
</widget>
