{% requireLogin %}

{% extends "_layouts/_base" %}

{# Get categories #}
{% set productCategoriesQuery = craft.categories().group( 'productCategories' ) %}
{% set categories = productCategoriesQuery.all() %}

{% block content %}

    {% include "_layouts/_header" with {
        title: "Training - Centre"
    } %}

    <div class="o-main">

    {% if categories %}
    <div class="c-categories">

        {% nav category in categories %}
        {% set categoryImage = category.categoryImage.all() %}

        <a href="{{ category.url }}" class="c-categories__item">

            {% if categoryImage %}
            <div class="c-categories__icon">
                {{ categoryImage[0].getImg() }}
            </div>
            <div class="c-categories__icon c-categories__icon--active">
                {{ categoryImage[1].getImg() }}
            </div>
            {% endif %}

            <h2 class="h3 c-categories__title">
                {{ category.title }}
            </h2>
        </a>
        {% endnav %}

    </div>
    {% endif %}

    </div>

    {% include "_layouts/_footer" with {} %}

{% endblock %}
