html {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-synthesis: none;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	overflow-y: unset;
}

body {
	background: $primary-color;
	color: $secondary-color;
	font-family: $font-primary;
	font-weight: $font-light;
	overflow-x: hidden;

	&.login {
		background-image: url(@assets/img/id.svg);
		background-position: center left;
		background-repeat: no-repeat;
		background-size: auto;
	}
}

* {
	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}

	font-synthesis: inherit;
}

address {
	font-size: inherit;
	font-style: inherit;
}

figure {
	margin: 0;
}

.touch {
	cursor: pointer;
}

::selection {
	// color: var(--report-color-white);
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
	touch-action: manipulation;
	touch-action: manipulation;
}

ol, ul {
	padding: 0;
	margin: 0;
	
	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

img { 
	max-width: 300px;
	height: auto;
}