.o-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: $header-height;
    @include fluid-size(padding-left, 24px, 38px);
    @include fluid-size(padding-right, 24px, 38px);
    @include fluid-size(padding-top, 32px, 47px);
    position: relative;
    width: 100vw;
}