.o-main {
    display: flex;
    flex-direction: column;
    height: calc( 100vh - $header-height - $footer-height );
    @include fluid-size(max-width, $main-width, calc($main-width + 400px), $font-lock-max, calc($font-lock-max + 400px));
    position: relative;
    width: 100%;
    
    &--center {
        justify-content: center;
    }

    &--narrow {
        @include fluid-size(max-width, $main-width-narrow, calc($main-width-narrow + 200px), $font-lock-max, calc($font-lock-max + 200px));
    }
    
    &--wide {
        @include fluid-size(max-width, $main-width-wide, calc($main-width-wide + 400px), $font-lock-max, calc($font-lock-max + 400px));
    }

    &--shadow {
        box-shadow:
            inset 6px 6px 12px rgba($color-black, 0.25),
            inset -4px -4px 5px rgba($color-grey, 0.1);
    }
}

body.app {
    .o-main {
        height: calc( 100vh - $header-height - $footer-height - 53px );
    }
}